#contents h2 {
    margin-bottom: 1em;
    text-align: center;
}

#contents form {
    max-width: 500px;
    margin: 0 auto;
}
#contents form label {
    display: block;
    width: fit-content;
}
#contents form label.description {
    opacity: .9;
    font-size: .8em;
}
#contents form label.description::before {
    content: '* ';
}
#contents form .input-creators,
#contents form .select-wrapper,
#contents form input[type=text],
#contents form textarea {
    height: 2em;
    margin: .5em 0 1em 0;
}
#contents form .select-wrapper,
#Title,
#Creator-TeamName,
#contents form textarea {
    display: block;
    width: 100%;
}
#contents form input[type=text],
#contents form textarea {
    padding-left: .5em;
    border: 1px solid #AAA;
}
#contents form textarea {
    height: 10em;
    padding: .5em;
    resize: none;
}
#contents form .add {
    margin: .4em 0 0 .5em;
    padding: .1em .3em;
    color: White;
    background-color: SteelBlue;
    border: none;
    cursor: pointer;
}
#contents form .add > * {
    float: left;
    display: block;
    line-height: inherit;
    font-size: .8em;
}
#contents form .input-creators > * {
    float: left;
}
#contents form .input-creators > input[type=text] {
    margin: 0;
}
#contents form .input-creators::after {
    content: '';
    display: block;
    clear: both;
}
#contents form .select-wrapper select {
    float: left;
    height: 2em;
}
#contents form .select-wrapper .add {
    float: left;
}
#contents form .selected-items {
    margin: .5em 0 1em 0;
    padding: .5em;
    list-style: none;
    background-color: #DDD;
    border-radius: 5px;
}
#contents form .selected-items::after {
    content: '';
    display: block;
    clear: both;
}
#contents form .selected-items > .item {
    float: left;
    margin: 0 .5em;
}
#contents form .selected-items > .no-item {
    font-style: italic;
    text-align: center;
}
#contents form .selected-items > .no-item.hidden {
    display: none;
}
#contents form .delete-wrapper {
    float: right;
    height: 100%;
}
#contents form .delete {
    width: 1em;
    margin: 0 .5em;
    font-size: 1em;
    color: #CC5555;
    border: none;
    cursor: pointer;
}
#contents form .delete i {
    display: block;
}
#contents form .files-header::after {
    content: '';
    display: block;
    clear: both;
}
#contents form .files-header label {
    float: left;
}
#contents form .files-header .add {
    float: right;
    margin: 0;
}
#contents form .files {
    margin: .5em 0 1em 0;
    padding: .5em 0;
    background-color: #DDD;
    border-radius: 5px;
}
#contents form .files li:first-of-type {
    margin-top: 0;
}
#contents form .files li:last-of-type {
    margin-bottom: 0;
}
#contents form .files li {
    height: 2em;
    line-height: 2em;
    margin: .5em 0;
    list-style: none;
}
#contents form .files li .platform-input {
    float: left;
    width: 20%;
    height: 100%;
    margin: 0 0 0 .5em;
    background-color: inherit;
    border: none;
    border-right: 1px solid #AAA;
}
#contents form .files li .file-input,
#contents form .files li .file-name {
    float: left;
    width: calc(80% - 2.5em);
    height: 100%;
}
#contents form .files li .file-input.disabled {
    display: none;
}
#contents form .files li .file-input .url {
    position: relative;
    float: left;
    width: calc(100% - 8.5em);
    height: 100%;
}
#contents form .files li .file-input .url .url-input {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: inherit;
    border: none;
}
#contents form .files li .file-input .url .url-apply {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 3em;
    height: 1.5em;
    top: .25em;
    right: .25em;
    color: White;
    background-color: #AAA;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 1s, visibility 1s;
}
#contents form .files li .file-input .url .url-apply.on {
    opacity: .7;
    visibility: visible;
}
#contents form .files li .file-input .url .url-apply div {
    font-size: .8em;
}
#contents form .files li .file-input .or {
    float: left;
    width: 3em;
    text-align: center;
}
#contents form .files li .file-input .select-file {
    display: none;
}
#contents form .files li .file-input .select-file-button {
    float: left;
    display: block;
    width: 5.5em;
    height: 100%;
    text-align: center;
    color: inherit;
    border: none;
    cursor: pointer;
}
#contents form .files li .file-name {
    display: none;
    margin: 0;
    padding-left: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
#contents form .files li .file-name.enabled {
    display: block;
}
#contents form input[type=submit] {
    width: 100%;
    margin-top: 1.7em;
}
