#contents h2 {
    margin-bottom: 1em;
    text-align: center;
}

#contents form {
    max-width: 500px;
    margin: 0 auto;
}
#contents form input,
#contents form textarea {
    display: block;
}
#contents form input[type=text],
#contents form textarea {
    width: 100%;
    height: 2em;
    margin: .5em 0 1em 0;
    padding-left: .5em;
    border: 1px solid #AAA;
}
#contents form textarea {
    height: 10em;
    padding: .5em;
    resize: none;
}
#contents form input[type=submit] {
    width: 100%;
    margin-top: 1em;
}
#contents form .add-file {
    float: right;
    padding: .1em .3em;
    font-size: 1em;
    font-weight: bold;
    color: White;
    background-color: SteelBlue;
    border: none;
    cursor: pointer;
}
#contents form .add-file > * {
    vertical-align: middle;
    font-size: .8em;
}
#contents form .files {
    margin: .5em 0 1em 0;
    padding: .5em 0;
    background-color: #DDD;
    border-radius: 5px;
}
#contents form .files li:first-of-type {
    margin-top: 0;
}
#contents form .files li:last-of-type {
    margin-bottom: 0;
}
#contents form .files li {
    height: 2em;
    line-height: 2em;
    margin: .5em 0;
    list-style: none;
}
#contents form .files li .url {
    float: left;
    width: calc(100% - 11em);
    height: 100%;
    margin: 0 0 0 .5em;
    background-color: inherit;
    border: none;
}
#contents form .files li .or {
    float: left;
    width: 3em;
    text-align: center;
}
#contents form .files li .select-file-label {
    float: left;
    width: 5.5em;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
#contents form .files li .select-file-input {
    display: none;
}
#contents form .files li .delete-wrapper {
    float: right;
    height: 100%;
}
#contents form .files li .delete {
    width: 1em;
    margin: 0 .5em;
    font-size: 1em;
    color: #CC5555;
    border: none;
    cursor: pointer;
}
#contents form .files li .delete i {
    display: block;
}
