<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="확장자가 존재하는 경우" stopProcessing="true">
                    <match url="[_0-9a-z-/.]+\.[_0-9a-z-]+" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="컨트롤러 호출" stopProcessing="true">
                    <match url="[_0-9a-z-/.]+" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="?action={R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
