<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="확장자가 존재하는 경우" enabled="true" stopProcessing="true">
                    <match url="^(.*)\.(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="카테고리 분류" stopProcessing="false">
                    <match url="^category/([A-Z]([0-9]+))$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="?category={R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="컨트롤러 호출" enabled="true" stopProcessing="false">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="?action={R:0}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
