<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Front Controller MVC 1" stopProcessing="true">
                    <match url="[_0-9a-z-/.]+\.[_0-9a-z-]+" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="Front Controller MVC 2" stopProcessing="true">
                    <match url="([_0-9a-z-/.]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="?action={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
