header .slideArea {
    padding: 0 5rem;
    overflow: hidden;
}
header .slideArea .bx-wrapper {
    max-width: 1400px !important;
    margin-left: auto;
    margin-right: auto;
}
header .slideArea .bx-wrapper .bx-viewport .image-wrapper::before {
    padding-top: 40%; /* 종횡비 5:2 */
}
header .slideArea .bx-wrapper .bx-viewport .image-wrapper img.align-middle {
    margin-top: 20%; /* 종횡비 5:2 */
}
header .slideArea .bx-wrapper .bx-viewport .image-wrapper img.align-bottom {
    margin-top: 40%; /* 종횡비 5:2 */
}
@media screen and (max-width: 50rem) { /* for Mobile */
    header .slideArea {
        padding: 0;
    }
}

#contents {
    padding-top: 0;
}
#contents .tag-name {
    position: relative;
    padding: 1em 0;
}
#contents .tag-name:nth-of-type(n+2) {
    margin-top: 1em;
    border-top: 2px solid #cdcece;
}
#contents .tag-name h2 {
    line-height: 1em;
}
#contents .tag-name .show-all {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 1.7em;
    margin: 1em 0;
    padding: 0 .3em;
    color: White;
    background-color: SteelBlue;
    transition: background-color 1s;
}
#contents .tag-name .show-all:hover {
    background-color: LightSteelBlue;
}
#contents .tag-name .show-all span {
    display: block;
    font-size: .9em;
}
#contents .contents-list {
    margin-top: -.3em;
    overflow: hidden;
}
#contents .contents-list.row {
    height: calc((128px + 3em) + (1.1 * 2em) + (.9 * 1.8em)); /* .contents-item + .title + .creator */
}
#contents  .contents-item {
    float: left;
    box-sizing: content-box;
    width: 128px;
    margin: .3em;
    padding: 1em;
    background-color: white;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}
#contents .contents-item .cover {
    width: 128px;
    height: 128px;
    line-height: 128px;
    overflow: hidden;
}
#contents .contents-item .cover img {
    width: 100%;
    vertical-align: middle;
    border: none;
}
#contents .contents-item .title {
    line-height: 1.5em;
    margin-top: .7em;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#contents .contents-item .creator {
    line-height: 1.5em;
    margin-top: .5em;
    font-size: .9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
