header .slideArea {
    padding: 0 5rem;
    overflow: hidden;
}
header .slideArea .bx-wrapper {
    max-width: 1400px !important;
    margin-left: auto;
    margin-right: auto;
}
header .slideArea .imageWrapper::before {
    content: '';
    display: block;
    padding-top: 40%;
}
header .slideArea .imageWrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}
header .slideArea .imageWrapper img.align-middle {
    margin-top: 20%; /* 40% / 2 */
    transform: translate(0, calc(-100% / 2));
}
header .slideArea .imageWrapper img.align-bottom {
    margin-top: 40%;
    transform: translate(0, -100%);
}
@media screen and (max-width: 50rem) { /* for Mobile */
    header .slideArea {
        padding: 0;
    }
}

#contents .contents-list {
    overflow-x: auto;
    margin: -.5em 0;
    padding-bottom: 1.8rem;
    border-bottom: 2px solid #cdcece;
}
#contents  .contents-item {
    box-sizing: content-box;
    display: inline-block;
    width: 10em;
    margin: .5em;
    padding: 1em;
    background-color: white;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}
#contents .contents-item .cover {
    width: 10em;
    height: 10em;
    line-height: 10em;
    overflow: hidden;
}
#contents .contents-item .cover img {
    width: 100%;
    vertical-align: middle;
    border: none;
}
#contents .contents-item .title {
    margin-top: .7em;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
}
#contents .contents-item .creator {
    margin-top: .5em;
    font-size: .9em;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    #contents {
        margin-top: -.9rem;
    }
    #contents h2 {
        margin: .9rem 0;
    }
    #contents .contents-list {
        padding-bottom: .9rem;
    }
}
@media screen and (min-width: 50rem) { /* for Desktop */
    #contents {
        margin-top: -1.8rem;
    }
    #contents h2 {
        margin: 1.8rem 0;
    }
    #contents .contents-list {
        padding-bottom: 1.8rem;
    }
}
