.menuArea {
	background-color: white;
	transition: .5s;
}
.menuArea:hover {
	background-color: #555;
}
.menuArea.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	z-index: 1001;
}

.menuArea.fixed .menu {
	border-top: none;
}
.menuArea .menu {
	list-style: none;
	line-height: 3em;
	white-space: normal;
	margin: 0 auto;
	border-top: 1px solid #AAA;
}
@media screen and (max-width: 70rem) { /* for Mobile */
	.menuArea .menu {
		text-align: center;
	}
}

.menuArea .menu > li {
	position: relative;
	display: inline-block;
	height: 3em;
	line-height: 3em;
	cursor: pointer;
	vertical-align: bottom;
	transition: .5s;
}
.menuArea .menu > li:hover {
	background-color: #8badc9;
}
.menuArea .menu > li .title {
	height: 100%;
}
.menuArea .menu > li .title a {
	display: block;
	font-weight: bold;
	font-size: 1.1em;
}
.menuArea:hover .menu > li .title a,
.menuArea .menu > li:hover .title a {
	color: white;
}
@media screen and (max-width: 70rem) { /* for Mobile */
	.menuArea .menu > li .title a {
		padding: 0 1em;
	}
}
@media screen and (min-width: 70rem) { /* for Desktop */
	.menuArea .menu > li .title a {
		padding: 0 2em;
	}
}

.menuArea .menu > li .inner-menu {
	position: absolute;
	display: none;
	z-index: 1000;
	list-style: none;
	white-space: nowrap;
	background-color: white;
}
.menuArea .menu > li:hover .inner-menu {
	display: block;
}
.menuArea .menu > li .inner-menu li a {
	display: block;
	padding: 0 2em;
}
