.menuArea {
    background-color: white;
    transition: background-color .5s;
}
.menuArea:hover {
    background-color: #555;
}
.menuArea.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1001;
    border-bottom: 1px solid #e1e1e1;
    transition: border-bottom .5s;
}
.menuArea.fixed:hover {
    border-bottom: 1px solid #555;
}

.menuArea .menu {
    line-height: 3em;
    margin: 0 auto;
    list-style: none;
    white-space: normal;
    border-top: 1px solid #AAA;
}
.menuArea.fixed .menu {
    border-top: none;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    .menuArea .menu {
        text-align: center;
    }
}

.menuArea .menu > li {
    position: relative;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    cursor: pointer;
    vertical-align: bottom;
    transition: background-color .5s;
}
.menuArea .menu > li:hover {
    background-color: #8badc9;
}
.menuArea .menu > li .title-wrapper {
    height: 100%;
}
.menuArea .menu > li .title {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    transition: color .5s;
}
.menuArea:hover .menu > li .title,
.menuArea .menu > li:hover .title {
    color: white;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    .menuArea .menu > li .title {
        padding: 0 1em;
    }
}
@media screen and (min-width: 50rem) { /* for Desktop */
    .menuArea .menu > li .title {
        padding: 0 2em;
    }
}

.menuArea .menu > li .inner-menu {
    position: absolute;
    display: block;
    visibility: hidden;
    z-index: 1000;
    list-style: none;
    white-space: nowrap;
    background-color: white;
    opacity: 0;
    transition: .5s;
}
.menuArea .menu > li.on .inner-menu {
    visibility: visible;
    opacity: 1;
}
.menuArea .menu > li .inner-menu li a {
    display: block;
    padding: 0 2em;
}
