@media screen and (min-width: 800px) { /* for Desktop */
    #contents-detail .modal {
        box-sizing: content-box;
        width: 720px;
    }
}

#contents-detail .top {
    min-height: 128px;
}
#contents-detail .top .cover {
    display: block;
    float: left;
    width: 128px;
    height: 128px;
    line-height: 128px;
    border-radius: 2em;
    overflow: hidden;
}
#contents-detail .top .cover img {
    width: 100%;
    vertical-align: middle;
}
#contents-detail .top .summary {
    margin-left: calc(128px + 2em);
}
#contents-detail .top .summary p {
    margin: .5em 0;
}
#contents-detail .top .summary .title {
    font-size: 1.2em;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    #contents-detail .top {
        min-height: 64px;
    }
    #contents-detail .top .cover {
        width: 64px;
        height: 64px;
        line-height: 64px;
        border-radius: 1em;
    }
    #contents-detail .top .summary {
        margin-left: calc(64px + 1em);
    }
    #contents-detail .top .summary p {
        font-size: 1.2em;
    }
    #contents-detail .top .summary .title {
        font-size: 1.4em;
    }
}

#contents-detail .download {
    margin-bottom: 1em;
    text-align: right;
}
#contents-detail .download a {
    display: inline-block;
    padding: .7em .7em .7em 2em;
    font-size: .9em;
    line-height: .9em;
    border-radius: .3em;
    border: none;
    background-color: SteelBlue;
    background-image: url("/images/icons/download.png");
    background-repeat: no-repeat;
    background-size: .9em;
    background-position: .7em center;
    color: White;
    cursor: pointer;
    transition: 1s;
}
#contents-detail .download a:hover {
    background-color: LightSteelBlue;
}
#contents-detail .download a:nth-of-type(n+2) {
    margin-left: .5em;
}

#contents-detail .slideArea {
    font-size: .7em;
}
#contents-detail .slideArea .bx-wrapper .bx-viewport .image-wrapper::before {
    padding-top: 56.25%; /* 종횡비 16:9 */
}
#contents-detail .slideArea .bx-wrapper .bx-viewport .image-wrapper img.align-middle {
    margin-top: 28.125%; /* 종횡비 16:9 */
}

#contents-detail .reviewArea {
    margin-top: 1em;
}
#contents-detail .reviewArea .header {
    padding: 0 .5em .2em .5em;
    border-bottom: 1px solid #AAA;
}
#contents-detail .reviewArea .header .text {
    font-size: 1.2em;
}
#contents-detail .reviewArea .header .num-reviews {
    margin-left: .3em;
    font-size: .9em;
    color: #999;
}
#contents-detail .reviewArea .header .right {
    float: right;
    font-size: 1.2em;
}
#contents-detail .reviewArea .header .refresh {
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    background-image: url("/images/icons/refresh.png");
    background-size: 16px;
    border: none;
    cursor: pointer;
}
#contents-detail .reviewArea .write {
    margin-top: 1em;
}
#contents-detail .reviewArea .write::after {
    display: block;
    clear: both;
    content: '';
}
#contents-detail .reviewArea .write textarea {
    float: left;
    width: calc(100% - 5em);
    height: 5em;
    padding: .2em .5em;
    font-size: .9em;
    border: 1px solid #aaa;
    border-right: none;
    resize: none;
}
#contents-detail .reviewArea .write input[type=submit] {
    float: left;
    width: 5em;
    height: 5em;
    font-size: .9em;
    color: White;
    background-color: SteelBlue;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
}
#contents-detail .reviewArea .write input[type=submit]:hover {
    background-color: lightsteelblue;
}
#contents-detail .reviewArea .write-disabled {
    padding: 2em 0;
    text-align: center;
    font-size: .9em;
    font-style: italic;
}
#contents-detail .reviewArea .reviews .review {
    margin-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}
#contents-detail .reviewArea .reviews .review::after {
    display: block;
    clear: both;
    content: '';
}
#contents-detail .reviewArea .reviews .left {
    float: left;
    width: calc(100% - 5em);
}
#contents-detail .reviewArea .reviews .right {
    float: right;
    width: 5em;
}
#contents-detail .reviewArea .reviews .review .writer {
    text-align: left;
    font-weight: 500;
    color: #777;
}
#contents-detail .reviewArea .reviews .review .writer.unknown {
    font-weight: normal;
    font-style: italic;
}
#contents-detail .reviewArea .reviews .review .result {
    font-size: 1em;
    color: #777;
    word-break: break-all;
}
#contents-detail .reviewArea .reviews .review .edit-input {
    display: none;
    width: 100%;
    height: 0;
    font-size: 1em;
    overflow: hidden;
    background-color: #e8f4f8;
    border: none;
    resize: none;
}
#contents-detail .reviewArea .reviews .review .date {
    text-align: right;
    color: #aaa;
}
#contents-detail .reviewArea .reviews .review .wrapper {
    width: 2.5em;
}
#contents-detail .reviewArea .reviews .review .wrapper button {
    display: none;
    width: 100%;
    height: 2em;
    font-size: .8em;
    color: #777;
    border: none;
    border-bottom: 1px solid #777;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}
#contents-detail .reviewArea .reviews .review .wrapper button:nth-child(3) {
    margin-top: .5em;
}
#contents-detail .reviewArea .reviews .review .wrapper button:hover {
    color: White;
    background-color: #777;
}
#contents-detail .reviewArea .reviews .review .edit-wrapper {
    float: left;
}
#contents-detail .reviewArea .reviews .review .delete-wrapper {
    float: right;
}
