#contents h2 {
    margin: 1em 0;
    text-align: center;
}

#contents form {
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}
#contents form label {
    display: block;
    margin-bottom: -.5em;
    text-align: left;
    transition: color .5s;
}
#contents form label.warning {
    color: #FF5555;
}
#contents form label.satisfy {
    color: #00BB00;
}
#contents form label .alert {
    margin-left: .5em;
    font-size: .9em;
    font-weight: bold;
}
#contents form input {
    display: block;
}
#contents form input[type=text],
#contents form input[type=email],
#contents form input[type=password] {
    width: calc(100% - .5em - 2px);
    height: calc(2rem - 2px);
    margin: 1em 0;
    padding-left: .5em;
    border: 1px solid #AAA;
}
#contents form input[type=submit] {
    margin: 1em auto;
    padding: .5em 1em;
    font-size: 1em;
    color: white;
    background-color: #AAA;
    border: none;
    cursor: pointer;
    transition: background-color .5s;
}
#contents form input[type=submit]:hover {
    background-color: #8badc9;
}
#contents form .multi input {
    width: calc(50% - 1em - 2px);
}
#contents form .multi input:nth-child(2n+1) {
    float: left;
}
#contents form .multi input:nth-child(2n) {
    float: right;
}
#contents form .multi::after {
    display: block;
    content: '';
    clear: both;
}
