@media screen and (max-width: 70rem) { /* for Mobile */
	header .orbitArea {
		font-size: .8em;
	}
	header ul.orbit {
		max-width: 100%;
	}
}
@media screen and (min-width: 70rem) { /* for Desktop */
	header .orbitArea {
		padding: 0 5rem 2rem 5rem;
	}
	header ul.orbit {
		max-width: 1400px;
		margin: 0 auto;
	}
}

#contents .game-list {
	white-space: nowrap;
	overflow: hidden;
	margin: -.5em 0;
}
#contents .game-list > section {
	display: inline-block;
	float: left;
	width: 10em;
	padding: 1em;
	background-color: #e8e8e8;
	margin: .5em;
	cursor: pointer;
}
#contents .game-list .cover {
	width: 10em;
	height: 10em;
	line-height: 10em;
	overflow: hidden;
}
#contents .game-list .cover img {
	width: 100%;
	vertical-align: middle;
}
#contents .game-list .title {
	margin-top: .7em;
	font-size: 1.1em;
	overflow: hidden;
	text-overflow: ellipsis;
}
#contents .game-list .creator {
	margin-top: .5em;
	font-size: .9em;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media screen and (max-width: 70rem) { /* for Mobile */
	#contents h2 {
		margin-bottom: .9rem;
	}
}
@media screen and (min-width: 70rem) { /* for Desktop */
	#contents h2 {
		margin-bottom: 1.8rem;
	}
}

#game-detail section.top {
	display: grid;
	grid-template-columns: 10em auto;
	grid-column-gap: 2em;

	display: -ms-grid;
	-ms-grid-columns: 10em 2em auto;

	padding-bottom: 1em;
	border-bottom: 1px solid LightGray;
}
#game-detail .cover {
	grid-row-start: 1;
	grid-row-end: 3;
	align-self: center;

	-ms-grid-column: 1;
	-ms-grid-row-span: 2;
	-ms-grid-row-align: center;

	height: 10em;
	line-height: 10em;
	border-radius: 2em;
	overflow: hidden;
}
#game-detail .cover img {
	width: 100%;
	vertical-align: middle;
}
#game-detail .summary {
	align-self: flex-start;

	-ms-grid-column: 3;
	-ms-grid-row-align: start;
}
#game-detail .summary p {
	margin: .5em 0;
}
#game-detail .summary span {
	font-weight: bold;
}
#game-detail .title {
	font-size: 1.2em;
}
#game-detail .reason-set {
	align-self: flex-end;

	-ms-grid-column: 3;
	-ms-grid-row: 2;
	-ms-grid-row-align: end;
}
#game-detail .download {
	float: right;
	padding: .7em;
	font-size: .9em;
	line-height: .9em;
	font-weight: bold;
	border-radius: .3em;
	border: none;
	background-color: SteelBlue;
	color: White;
	cursor: pointer;
	transition: 1s;
}
#game-detail .download:hover {
	background-color: LightSteelBlue;
}
@media screen and (max-width: 70rem) { /* for Mobile */
	#game-detail .summary {
		font-size: 1.2em;
	}
}
@media screen and (min-width: 70rem) { /* for Desktop */
	#game-detail .modal {
		min-width: 50rem;
	}
	#game-detail .summary {
		padding-right: 2em;
	}
}
