#contents h2 {
    margin: 1em 0;
    text-align: center;
}

#signin-form,
#signup-form,
#leave-form {
    max-width: 500px;
    margin: 100px auto;
}

#contents.wrapper {
    padding: 100px 0;
    text-align: center;
}
#signup-auth-form,
#signup-complete {
    display: inline-block;
    text-align: left;
}

#contents form label {
    display: block;
    margin-bottom: -.5em;
    text-align: left;
    transition: color .5s;
}
#contents form label.warning {
    color: #FF5555;
}
#contents form label.satisfy {
    color: #00BB00;
}
#contents form label span.alert {
    margin-left: .5em;
    font-size: .9em;
    font-weight: bold;
}

#contents form input {
    display: block;
}
#contents form input[type=text],
#contents form input[type=email],
#contents form input[type=password],
#contents form input[type=number] {
    width: 100%;
    height: 2em;
    margin: 1em 0;
    padding-left: .5em;
    border: 1px solid #AAA;
}
#contents form input[type=checkbox],
#contents form input[type=checkbox] + label {
    display: inline-block;
}
#contents form input[type=radio] {
    display: none;
}
#contents form input[type=radio] + label {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 20px;
    font-size: .9em;
    text-align: center;
    border: 1px solid #AAA;
    cursor: pointer;
    transition: background-color .5s, color .5s;
}
#contents form input[type=radio] + label:hover {
    background-color: #AAA;
}
#contents form input[type=radio]:checked + label {
    color: white;
    background-color: #AAA;
}
#contents form input[type=submit] {
    width: 100%;
    margin: 1em auto;
}

#contents form .multi input {
    width: calc(50% - .5em);
}
#contents form .multi input:nth-child(2n+1) {
    float: left;
}
#contents form .multi input:nth-child(2n) {
    float: right;
}
#contents form .multi::after {
    display: block;
    content: '';
    clear: both;
}

#contents form .radio-wrapper {
    width: 100%;
    line-height: 2rem;
    margin-top: 1em;
    text-align: center;
}
#contents form .radio-wrapper input[type=radio] + label {
    width: calc(100% / 3 - .5em);
    height: 100%;
    padding: 0;
}
#contents form .radio-wrapper input[type=radio] + label:nth-of-type(n+4) {
    margin-top: .3em;
}

#contents form textarea {
    display: block;
    width: 100%;
    height: 5em;
    margin: 1em 0;
    padding: .5em;
    background-color: white;
    border: 1px solid #aaa;
    resize: none;
}

#contents form .inner-form {
    display: none;
    padding: 1em 0;
}
