.tooltip-wrapper {
    cursor: help;
}
.tooltip {
    position: absolute;
    z-index: -1;
    line-height: 1.5;
    padding: 5px 10px;
    opacity: 0;
    color: white;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
    transform: translate(-15px, 0);
    transition: all 0.5s ease;
}
.tooltip.on {
    z-index: 1;
    margin-top: 10px;
    margin-left: 5px;
    opacity: .95;
}
.tooltip-icon {
    vertical-align: text-bottom;
    font-size: 1em;
    border: none;
}
.tooltip-icon i {
    color: steelblue;
    font-size: 1.5em;
}