.tooltip-wrapper {
    cursor: help;
}
.tooltip {
    position: absolute;
    line-height: 1.5;
    padding: 5px 10px;
    opacity: 0;
    color: white;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
    transform: translate(-15px, 0);
    transition: margin .5s ease, opacity .5s ease;
}
.tooltip.on {
    margin-top: 10px;
    margin-left: 5px;
    opacity: .95;
}
.tooltip.left {
    width: 100%;
    transform: translate(-100%, 0);
}
.tooltip.left.on {
    margin-left: -5px;
}
.tooltip-icon {
    vertical-align: text-bottom;
    font-size: 1em;
    border: none;
}
.tooltip-icon i {
    color: steelblue;
    font-size: 1.5em;
}