.menuArea {
    background-color: white;
    transition: background-color .5s;
}
.menuArea:hover {
    background-color: #555;
}
.menuArea.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1001;
    border-bottom: 1px solid #e1e1e1;
    transition: border-bottom .5s;
}
.menuArea.fixed:hover {
    border-bottom: 1px solid #555;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    .menuArea {
        display: none;
        position: fixed;
        width: 200px;
        max-width: calc(100% - 50px);
        height: 100%;
        top: 0;
        z-index: 4;
        background-color: white !important;
    }
    .menuArea:target {
        display: block;
    }
    .menuArea.fixed {
        display: none;
    }
}

.menuArea .background {
    display: none;
}
.menuArea .menu {
    line-height: 3em;
    margin: 0 auto;
    list-style: none;
    white-space: normal;
    border-top: 1px solid #AAA;
}
.menuArea.fixed .menu {
    border-top: none;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    .menuArea .background {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: black;
        opacity: 0.4;
    }
    .menuArea .menu {
        height: 100%;
        margin: 0;
        text-align: left;
        overflow-y: auto;
        background-color: white;
        border-top: none;
    }
}

.menuArea .menu > li {
    position: relative;
    display: inline-block;
    height: 3em;
    cursor: pointer;
    vertical-align: bottom;
    transition: background-color .5s;
}
.menuArea .menu > li:hover {
    background-color: #8badc9;
}
.menuArea .menu > li .title-wrapper {
    height: 100%;
}
.menuArea .menu > li .title {
    display: block;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 1.1em;
    transition: color .5s;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    .menuArea .menu > li {
        position: static;
        display: block;
        height: auto;
        background-color: inherit !important;
    }
    .menuArea .menu > li .title {
        font-size: 1.2em;
    }
    .menuArea .menu > li .title:hover {
        color: #8badc9;
    }
}
@media screen and (min-width: 50rem) { /* for Desktop */
    .menuArea:hover .menu > li .title,
    .menuArea .menu > li:hover .title {
        color: white;
    }
}

.menuArea .menu > li .inner-menu {
    position: absolute;
    display: block;
    visibility: hidden;
    z-index: 1000;
    list-style: none;
    white-space: nowrap;
    background-color: white;
    opacity: 0;
    transition: .5s;
}
.menuArea .menu > li.on .inner-menu {
    visibility: visible;
    opacity: 1;
}
.menuArea .menu > li .inner-menu li a {
    display: block;
    padding: 0 2rem;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    .menuArea .menu > li .inner-menu {
        position: static;
        visibility: visible;
        z-index: 0;
        background-color: #f1f1f1;
        opacity: 1;
    }
}
