.scrollLock {
    height: 100%;
    overflow: hidden;
}

.body-wrapper {
    position: relative;
}

.modalArea {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1002;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.75);
}
.modalArea .modal {
    display: block;
    margin: 3em auto;
    padding: 19.5px;
    background-color: white;
}
.modalArea .closebutton {
    float: right;
    margin: -1em -.7em 0 0;
    font-family: sans-serif;
    cursor: pointer;
    border: none;
}
.modalArea .closebutton:hover {
    color: #8badc9;
}
@media screen and (max-width: 50rem) { /* for Mobile */
    .modalArea .closebutton {
        font-size: 1.2em;
        margin: -.7em -.5em 0 0;
    }
}
